# Virtual Environment
venv/
ENV/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebooks
.ipynb_checkpoints/

# Environment configurations
.env
.env.example

# Streamlit configurations
.streamlit/

# Database files
database/*.db
database/*.db-journal
database/*.db-shm
database/*.db-wal
